.advantages {
  box-sizing: border-box;
  border-bottom: 1px solid transparent;

  @media (min-width: @width-tablet) {
    border-color: #e6e6e6;
  }
}

.advantages__inner {
  .inner();
}

.advantages__title {
  .subtitle-t-d();
  margin: 0;
  padding: 0;
  color: @color-title;
  padding-bottom: 30px;
  padding-top: 15px;

  @media (min-width: @width-tablet) {
    .title-t-d();
    padding-bottom: 70px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 71px;
  }
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  font-family: @font-second;
  color: @color-text;
  padding-left: 80px;
  margin-right: 20px;
  font-size: @fz-small;
  line-height: 18px;
  max-width: 190px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 5px 4px;

  @media (min-width: @width-tablet) {
    .text-t-d();
    min-width: 245px;
    min-height: 180px;
    padding: 113px 0 18px;
    margin-right: auto;
    background-position: 15px 17px;
  }
}
