.advantages {
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  margin-bottom: 19px;

  @media (min-width: @width-tablet) {
    border-color: #e6e6e6;
  }

  @media (min-width: @width-desktop) {
    border: 0 none;
    margin-bottom: 0;
  }
}

.advantages__inner {
  .inner();
}

.advantages__title {
  .subtitle-t-d();
  margin: 0;
  padding: 16px 0 30px;
  color: @color-title;

  @media (min-width: @width-tablet) {
    .title-t-d();
    padding-bottom: 70px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 73px;
  }
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  font-family: @font-second;
  color: @color-text;
  font-size: @fz-small;
  line-height: 18px;
  max-width: 195px;
  padding: 0 0 26px 80px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 5px 4px;

  @media (min-width: @width-tablet) {
    .text-t-d();
    min-width: 245px;
    min-height: 180px;
    padding: 113px 0 18px;
    margin-right: auto;
    background-position: 15px 17px;
  }

  @media (min-width: @width-desktop) {
    margin-right: 80px;
    margin-top: 2px;
    padding-bottom: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages__item br {
  @media (max-width: @width-mobile-only) {
    display: none;
  }
}
