.button {
  background-color: @color-accent;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  padding: 14px 20px 11px 20px;

  &--grey {
    background-color: @color-bg;
    color: @color-text;
  }
}
