.button {
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  padding-top: 14px;
  padding-bottom: 11px;
  width: 280px;
  height: 40px;

  &--grey {
    background-color: @bg-color;
    color: @text-color;
  }
}
