.cooperation__inner {
  .inner(@value: 20px);
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.cooperation__text {
  text-transform: uppercase;
  max-width: 130px;
}

.cooperation__address {
  font-family: @second-font;
  color: @color-text;
  font-size: @fz-small;
  max-width: 135px;
}

@media (min-width: @tablet-width) {
  .cooperation__inner {
    .inner(@value: 70px);
  }

  .cooperation__text {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 42px;
  }

  .cooperation__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 155px;
  }
}
