.cooperation {
  position: relative;
  min-height: 475px;

  &--index {
    background-color: @color-lightest;
  }

  &--inner {
    background-color: @color-bg;

    @media (min-width: @width-desktop) {
      background-color: @color-lightest;
    }
  }

  @media (min-width: @width-tablet) {
    min-height: 600px;
  }

  @media (min-width: @width-desktop) {
    position: relative;
    min-height: 400px;
  }
}

.cooperation__inner {
  .inner();
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 20px;
  padding-top: 13px;
  padding-bottom: 9px;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: @color-bg;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: @width-tablet) {
    background-color: none;
    padding-top: 45px;
    padding-bottom: 0;
    justify-content: space-between;
  }

  @media (min-width: @width-desktop) {
    background-color: #ffffff;
    position: relative;
    top: 95px;
    left: 40px;
    z-index: 20;
    width: 490px;
    padding-bottom: 0;
  }
}

.cooperation__text {
  text-transform: uppercase;
  max-width: 141px;

  @media (min-width: @width-tablet) {
    max-width: 155px;
    font-size: 20px;
    line-height: 25px;
    padding: 0 0 39px 41px;
    margin-right: auto;
  }

  @media (min-width: @width-desktop) {
    margin-top: 0;
    padding: 21px 0 39px 36px;
  }
}

.cooperation__address {
  font-family: @font-second;
  color: @color-text;
  font-size: @fz-small;
  max-width: 140px;
  padding-top: 2px;
  margin-right: 5px;

  @media (max-width: @width-mobile-only) {
    max-height: 73px;
  }

  @media (min-width: @width-tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 155px;
    margin-right: 0;
    padding-right: 42px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 49px;
    text-align: left;
  }
}

.cooperation__street {
  margin: 13px 0 0;

  @media (min-width: @width-tablet) {
    padding: 2px 0 4px;
    margin: 13px 0 16px;
  }
}

.cooperation__city {
  margin: 0;
}

.cooperation__map {
  width: 100%;
  height: 400px;
}

.cooperation__map-wrapper {
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 55px 53px, cover;
  background-position: center, top left;
  position: absolute;
  top: 75px;
  width: 100%;
  height: 400px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: @width-tablet) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 113px 106px, cover;
    background-position: center, top left;
    position: static;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 113px 106px, cover;
    background-position: 81% 55%, top left;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
    }
  }
}
