.demo {
  background-color: @color-bg;

  @media (min-width: @width-tablet) {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 57%, @color-bg 57%, @color-bg 100%);
  }

  @media (min-width: @width-desktop) {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 30%, @color-bg 30%, @color-bg 100%);
  }
}

.demo__inner {
  .inner();
}

.demo__title {
  .subtitle-t-d();
  margin: 0;
  padding: 16px 0 10px;

  @media (min-width: @width-tablet) {
    .title-t-d();
    padding: 41px 0 47px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 0;
  }
}

.demo__text {
  font-family: @font-second;
  font-size: @fz-small;
  width: 270px;
  padding-bottom: 12px;

  @media (min-width: @width-tablet) {
    .text-t-d();
    width: 100%;
    padding-bottom: 46px;
  }

  @media (min-width: @width-desktop) {
    width: 435px;
  }
}

.demo__progress-image {
  display: flex;
  height: 250px;
  background-repeat: no-repeat;
  margin-top: 34px;
  margin-left: -20px;

  &--before {
    background-image: url("../img/before-mobile@1x.png");
  }

  &--after {
    background-image: url("../img/after-mobile@1x.png");
  }
}

.demo__buttons-wrapper {
  padding-bottom: 38px;
}

.demo__range {
  .entry-field();
}

.demo__progress-button {
  padding: 0;
  border: 0 none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
