.demo {
  background-color: @color-bg;
}

.demo__inner {
  .inner();

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.demo__title {
  .subtitle-t-d();
  padding-top: 16px;
  padding-bottom: 8px;
  margin: 0;

  @media (min-width: @tablet-width) {
    .title-t-d();
    padding-top: 41px;
    padding-bottom: 47px;
  }
}

.demo__text {
  font-family: @second-font;
  font-size: @fz-small;
  width: 270px;

  @media (min-width: @tablet-width) {
    .text-t-d();
    width: 100%;
    padding-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
  }
}

.demo__progress-image {
  display: flex;
  height: 250px;
  background-repeat: no-repeat;

  &--before {
    background-image: url("../img/before-mobile@1x.png");
  }

  &--after {
    background-image: url("../img/after-mobile@1x.png");
  }
}

.demo__buttons-wrapper {
  padding-bottom: 38px;
}

.demo__range {
  .entry-field();
}

.demo__progress-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
}
