.extra-product {
  @media (min-width: @width-desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.extra-product__title {
  margin: 0;
  padding: 13px 0 10px 1px;
  color: @color-title;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    padding: 0;
    padding-bottom: 23px;
  }

  @media (min-width: @width-desktop) {
    width: 245px;
    padding-bottom: 0;
    margin-right: 79px;
  }
}

.extra-product__options {
  width: 100%;
  border-collapse: collapse;


  @media (min-width: @width-tablet) {
    width: 40%;
  }

  @media (min-width: @width-desktop) {
    width: 322px;
  }
}

.extra-product__options-cell {
  .table-cell();
  padding: 0;
  padding-bottom: 14px;

  &--number {
    font-size: @fz-small;

    @media (min-width: @width-tablet) {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }

    @media (min-width: @width-desktop) {
      text-align: left;
    }
  }

  &--price {
    text-align: right;
    font-size: @fz-small;

    @media (min-width: @width-tablet) {
      width: 95px;
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: @width-desktop) {
      width: 80px;
      text-align: left;
    }
  }

  @media (min-width: @width-tablet) {
    padding-top: 6px;
  }

  @media (min-width: @width-desktop) {
    vertical-align: baseline;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.extra-product__button {
  width: 100%;
  padding: 13px 108px 13px 111px;

  @media (min-width: @width-tablet) {
    width: 100%;
    margin-bottom: 3px;
    padding: 13px 108px 13px 107px;
  }

  @media (min-width: @width-desktop) {
    width: auto;
    padding: 13px 91px 12px 93px;
  }
}
