.extra-catalog__inner {
  .inner();
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 42px;
    right: 0;
    width: 80%;
    height: 3px;
    background-color: @color-accent;

    @media (min-width: @width-tablet) {
      top: 25px;
      right: 0;
      width: 100%;
    }

    @media (min-width: @width-desktop) {
      top: 33px;
    }
  }
}

.extra-catalog__title {
  width: 235px;
  color: @color-title;
  font-size: 24px;
  font-weight: 400;
  margin: 0 -20px 0 0;
  padding: 31px 12px 37px 0;
  background-color: @color-lightest;

  @media (min-width: @width-tablet) {
    width: 340px;
    font-size: @fz-big;
    padding: 9px 36px 37px 37px;
    margin: 0 0 49px;
    border-bottom: 0 none;
  }

  @media (min-width: @width-desktop) {
    margin: 0 -40px 48px;
    padding: 17px 32px 37px 40px;
    border: 0 none;
  }
}

.extra-catalog__box {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-desktop) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 46px;
  }
}

.extra-catalog__list {
  .list-reset();
  width: 100%;

  @media (min-width: @width-desktop) {
    width: 895px;
    margin-right: 81px;
  }
}

.extra-catalog__item {
  padding-bottom: 17px;
  border-bottom: 1px solid #d6d6d6;

  &:first-of-type {
    border-top: 1px solid #d6d6d6;

    @media (min-width: @width-desktop) {
      border-top: 1px solid #d6d6d6;
    }
  }

  @media (min-width: @width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-bottom: 0 none;
    padding: 24px 36px 24px 37px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: @width-desktop) {
    justify-content: flex-start;
    border-left: 0 none;
    border-right: 0 none;
    padding: 18px 0 11px;
  }
}

.extra-catalog__gift {
  width: 280px;
  height: 284px;
  margin: 0 auto;
  padding-top: 82px;
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 56px, 100%;
  background-position: 113px 104px, 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: @width-tablet) {
    width: 708px;
    height: 200px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@1x.jpg");
    background-position: 91px 100px, 100%;
    background-size: 56px 61px, 100% 200px;
    margin: 33px auto 41px;
    padding-top: 72px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @width-desktop) {
    width: 245px;
    height: 289px;
    background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@1x.jpg");
    background-position: 96px 65px, 100%;
    background-size: 56px 61px, 100% 289px;
    background-color: @color-accent;
    margin: 0 0 41px;
    padding-top: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.extra-catalog__gift-text {
  font-family: @font-second;
  line-height: 20px;
  width: 170px;
  text-align: center;
  color: @color-lightest;
  padding-left: 54px;
  padding-top: 128px;

  @media (min-width: @width-tablet) {
    padding-left: 423px;
    padding-top: 21px;
    text-align: left;
  }

  @media (min-width: @width-desktop) {
    text-align: center;
    padding-left: 37px;
    padding-top: 172px;
  }
}
