.extra-product__title {
  margin: 0;
  padding: 0;
  color: @color-title;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 10px;
}

.extra-product__options {
  width: 280px;
}

.extra-product__options-cell {
  padding-bottom: 12px;

  &--number {
    font-size: @fz-small;
  }

  &--price {
    text-align: right;
    font-size: @fz-small;
  }
}
