.header {
  @media (max-width: @width-mobile-only) {
    padding-top: 10px;
  }

  @media (min-width: @width-tablet) {
    border-color: transparent;
  }
}

.header__inner {
  @media (min-width: @width-tablet) {
    .inner();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: @width-mobile-only) {
    .inner();
  }

  @media (min-width: @width-tablet) {
    padding-top: 24px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 53px;
  }
}

.header__logo-image {
  @media (min-width: @width-tablet) {
    width: 174px;
    height: 59px;
  }

  @media (min-width: @width-desktop) {
    width: 203px;
    height: 60px;
  }
}
