.head-block {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 100% 305px;

  @media (min-width: @width-tablet) {
    .inner();
    background: url("../img/index-can-tablet@1x.jpg") no-repeat;
    background-position: 54% 106%;
    padding: 54px 0 509px;
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 61% 57%, 103% 0;
    background-size: 552px 499px, 695px 696px;
    margin-top: -119px;
    padding-top: 159px;
    padding-bottom: 237px;
  }
}

.head-block__inner {
  .inner();
}

.head-block__title {
  margin: 0;
  padding: 0;
  color: @color-lightest;
  font-weight: 400;
  font-size: @fz-big;
  line-height: 36px;
  text-align: center;

  @media (max-width: @width-mobile-only) {
    padding-top: 28px;
  }

  @media (min-width: @width-tablet) {
    .title-t-d();
    color: @color-title;
    text-align: left;
    padding: 0 0 14px 87px;
    padding-left: 11.2vw;
    width: 415px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
    padding-top: 64px;
  }
}

.head-block__text {
  color: @color-lightest;
  text-transform: uppercase;
  font-size: @fz-small;
  text-align: center;
  padding-top: 8px;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: @color-title;
    text-align: left;
    padding-left: 11.3vw;
    padding-bottom: 13px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
    padding-bottom: 18px;
  }
}

.head-block__image {
  padding-top: 12px;
  padding-left: 20px;
  margin-bottom: -13px;

  @media (min-width: @width-tablet) {
    display: none;
  }
}

.head-block__button {
  display: inline-block;
  font-size: @fz-small;
  padding: 14px 74px 11px 73px;
  margin-top: 14px;
  margin-bottom: 4px;

  @media (max-width: @width-mobile-only) {
    width: 100%;
  }

  @media (min-width: @width-tablet) {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding: 17px 29px 15px 26px;
    margin-left: 7.4vw;
  }

  @media (min-width: @width-desktop) {
    margin-left: 40px;
  }
}
