.head-block {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;

  @media (min-width: @width-tablet) {
    background-image: none;
  }
}

.head-block__inner {
  .inner();
}

.head-block__title {
  margin: 0;
  padding: 0;
  color: @color-lightest;
  font-weight: 400;
  font-size: @fz-big;
  line-height: 36px;
  text-align: center;
  padding-top: 30px;
  width: 320px;

  @media (min-width: @width-tablet) {
    .title-t-d();
    color: @color-title;
    text-align: left;
    padding-left: 91px;
    padding-bottom: 20px;
    width: 415px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
  }
}

.head-block__text {
  color: @color-lightest;
  text-transform: uppercase;
  font-size: @fz-small;
  text-align: center;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: @color-title;
    text-align: left;
    padding-left: 91px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
  }
}

.head-block__button {
  display: inline-block;
  font-size: @fz-small;
  padding: 14px 74px 11px 73px;

  @media (min-width: @width-tablet) {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding: 17px 29px 15px 26px;
  }
}
