.head-block {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.head-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 30px;
}

.head-block__text {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.head-block__button {
  font-size: 14px;
}
