.main-navigation__toggle {
  padding: 0;
  border: none;
  font: inherit;
  width: 25px;
  height: 19px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;

  &:active {
    background-image: url("../img/icon-close.svg");
  }
}
