.main-catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.main-catalog {
  margin-left: 0;
  border-bottom: 1px solid #ededed;
}

.main-catalog__item {
  min-width: 280px;
  min-height: 210px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-description__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-catalog__view-all {
  background-image: url("../img/icon-plus.svg");
  background-size: 31px;
  background-position: top;
}

.main-catalog__subtitle {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}

.main-catalog__subtext {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: @text-color;
  margin-top: 0;
}

.main-catalog__button {
  margin-bottom: 25px;
}
