.main__title {
  .inner();
  .subtitle-t-d();
  margin: 0;
  padding: 15px 0 28px 20px;
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
  color: @color-title;

  @media (min-width: @width-tablet) {
    .title-t-d();
    padding-top: 53px;
    padding-bottom: 88px;
    border: 0 none;
  }

  @media (min-width: @width-desktop) {
    padding-top: 70px;
  }
}
