.main__title {
  .inner();
  .subtitle-t-d();
  margin: 0;
  padding: 0;
  border-bottom: 1px solid @color-border;
  padding-bottom: 27px;
  padding-top: 15px;
  color: @color-title;

  @media (min-width: @width-tablet) {
    .title-t-d();
    padding-top: 55px;
    padding-bottom: 120px;
  }
}
