.product-description__header {
  .cell-header();
  max-width: 75px;
  padding-bottom: 10px;
  text-align: left;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 20px;
    max-width: 130px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 60px;
  }

  @media (min-width: @width-desktop) {
    margin-left: 23px;
  }
}

.product-description__block {
  width: 100%;
  margin-top: 22px;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;

  @media (min-width: @width-tablet) {
    margin: 13px 0 16px;
    align-items: center;
  }

  @media (min-width: @width-desktop) {
    margin: 14px 0 25px;
  }
}

.product-description__cell {
  .table-cell();
  border-spacing: 0;

  @media (min-width: @width-tablet) {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 8px;
    border-bottom: 1px solid #d6d6d6;
  }

  &--title {
    @media (min-width: @width-desktop) {
      padding-right: 70px;
    }
  }

  &--value {
    text-align: right;
    margin-left: auto;
  }
}
