.product__wrapper {
  display: flex;
  justify-content: flex-start;
}

.product__button {
  display: inline-block;
  padding: 13px 108px 12px 111px;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .product__wrapper {
    justify-content: space-between;
    flex-direction: column;
  }

  .product__button {
    padding: 13px 93px 12px 95px;
    margin-bottom: 24px;
  }
}
