.program {
  box-sizing: border-box;
  background-color: @color-bg;
  width: auto;
  padding: 0 20px;
  margin-top: 20px;
  background-repeat: no-repeat;

  @media (min-width: @width-tablet) {
    margin: 15px 0;
    padding: 75px 60px 64px 53px;
  }

  @media (min-width: @width-desktop) {
    width: 46.7%;
    margin: 0;
    margin-top: 27px;
  }

  &:first-of-type {
    @media (min-width: @width-desktop) {
      margin-right: 80px;
    }
  }

  &--slim {
    background-image: url("../img/icon-cat-slim.svg");
    background-size: 35px;
    background-position: 30px 22px;

    @media (min-width: @width-tablet) {
      background-image: url("../img/icon-cat-slim.svg");
      background-size: 141px;
      background-position: 475px 80px;
    }

    @media (min-width: @width-desktop) {
      background-image: url("../img/icon-cat-slim.svg");
      background-size: 71px;
      background-position: 65px 41px;
    }
  }

  &--pro {
    background-image: url("../img/icon-cat-pro.svg");
    background-size: 67px;
    background-position: 13px 35px;

    @media (min-width: @width-tablet) {
      background-image: url("../img/icon-cat-pro.svg");
      background-size: 268px;
      background-position: 412px 135px;
    }

    @media (min-width: @width-desktop) {
      background-image: url("../img/icon-cat-pro.svg");
      background-size: 134px;
      background-position: 34px 69px;
    }
  }
}

.program__title {
  margin: 0;
  padding: 29px 0 0 71px;
  color: @color-title;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;

  @media (min-width: @width-tablet) {
    font-size: @fz-big;
    padding: 0;
  }

  @media (min-width: @width-desktop) {
    padding-left: 161px;
  }
}

.program__info {
  width: auto;
  font-family: @font-second;
  font-size: @fz-small;
  line-height: 18px;
  color: @color-text;
  padding: 15px 0 8px;

  @media (min-width: @width-tablet) {
    .text-t-d();
    padding: 10px 0 25px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 59px;
    padding-bottom: 0;
  }

  &--slim {
    @media (min-width: @width-tablet) {
      width: 375px;
      max-width: 624px;
    }

    @media (min-width: @width-desktop) {
      max-width: 700px;
      width: 100%;
    }
  }

  &--pro {
    @media (min-width: @width-tablet) {
      max-width: 600px;
      width: 340px;
    }

    @media (min-width: @width-desktop) {
      max-width: 700px;
      width: 100%;
    }
  }
}

.program__catalog {
  display: block;
  color: @color-title;
  text-transform: uppercase;
  line-height: 16px;
  padding: 19px 0 22px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 97px 22px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    background-size: 24px;
    background-position: 164px 20px;
    border-color: transparent;
    padding: 16px 0 0;
  }

  @media (min-width: @width-desktop) {
    padding-top: 16px;
    background-position: 164px 18px;
  }
}
