.program {
  box-sizing: border-box;
  background-color: @color-bg;
  width: 280px;
  height: 266px;
  padding: 0 20px;
  margin-top: 20px;
  margin-right: 20px;

  &--slim {
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 30px 22px;
  }

  &--pro {
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-size: 67px;
    background-position: 13px 35px;
  }
}

.program__title {
  margin: 0;
  padding: 0;
  color: @color-title;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 70px;
  padding-top: 30px;
}

.program__info {
  font-family: @second-font;
  font-size: @fz-small;
  line-height: 18px;
  max-width: 225px;
  color: @color-text;
  padding-top: 14px;
  padding-bottom: 5px;
}

.program__catalog {
  display: block;
  color: @color-title;
  text-transform: uppercase;
  padding-top: 15px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 97px 23px;
  border-top: 1px solid #e6e6e6;
}
