.promo-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 306px;
    z-index: -1;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 320px 305px;
    background-color: #63a73a;
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: @width-tablet) {
      display: none;
    }

    @media (min-width: @width-desktop) {
      display: block;
      width: 50%;
      height: 697px;
      z-index: -1;
      top: -119px;
      right: 0;
      left: inherit;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #63a73a;
      background-position: 0 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: @width-tablet) {
    .inner();
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 54% 106%;
    background-size: 709px 609px;
    background-color: transparent;
    padding: 52px 0 512px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @media (min-width: @width-desktop) {
    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 65.5% 18%;
    background-size: 552px 499px;
    background-color: transparent;
    padding-bottom: 239px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }
}

.promo-block__inner {
  .inner();
}

.promo-block__title {
  margin: 0;
  padding: 0;
  color: @color-lightest;
  font-weight: 400;
  font-size: @fz-big;
  line-height: 36px;
  text-align: center;

  @media (max-width: @width-mobile-only) {
    padding-top: 28px;
  }

  @media (min-width: @width-tablet) {
    .title-t-d();
    color: @color-title;
    text-align: left;
    padding: 0 0 14px 87px;
    padding-left: 11.2vw;
    width: 415px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
    padding-top: 52px;
  }
}

.promo-block__text {
  color: @color-lightest;
  text-transform: uppercase;
  font-size: @fz-small;
  text-align: center;
  padding-top: 8px;

  @media (min-width: @width-tablet) {
    font-size: 20px;
    line-height: 20px;
    color: @color-title;
    text-align: left;
    padding-left: 11.3vw;
    padding-bottom: 13px;
  }

  @media (min-width: @width-desktop) {
    padding-left: 81px;
    padding-bottom: 18px;
  }
}

.promo-block__image {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  margin-bottom: -10px;

  @media (min-width: @width-tablet) {
    display: none;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @width-desktop) {
    width: 552px;
    height: 499px;
  }
}

.promo-block__button {
  display: inline-block;
  font-size: @fz-small;
  line-height: 20px;
  padding: 10px 15px;
  margin-top: 14px;
  margin-bottom: 2px;

  @media (max-width: @width-mobile-only) {
    width: 100%;
    text-align: center;
  }

  @media (min-width: @width-tablet) {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding: 17px 29px 15px 26px;
    margin-left: 7.4vw;
  }

  @media (min-width: @width-desktop) {
    margin-left: 40px;
  }
}
