.social__list {
  .list-reset();
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 21px;
}

.social__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20px;
  height: 20px;

  &--vk {
    @media (min-width: @width-tablet) {
      width: 30px;
      height: 16px;
    }
  }

  &--ig {
    @media (min-width: @width-tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: @width-tablet) {
      width: 14px;
      height: 28px;
    }
  }
}

.social__link-icon {
  &--vk {
    @media (min-width: @width-tablet) {
      width: 30px;
      height: 16px;
    }
  }

  &--ig {
    @media (min-width: @width-tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: @width-tablet) {
      width: 14px;
      height: 28px;
    }
  }
}
