.social__list {
  .list-reset();
  display: flex;
  justify-content: center;
  padding: 22px 0 21px;
}

.social__item {
  margin-right: 36px;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &--vk {
    background-image: url("../img/icon-vk.svg");
  }

  &--ig {
    background-image: url("../img/icon-insta.svg");
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
  }
}
