{
  "extends": "stylelint-config-htmlacademy",

  "ignoreFiles": "./source/less/base/normalize.less",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
