.additional__title-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.additional__title {
  .form-subtitle();
  background-color: #ffffff;
  margin: 0;
  padding: 0 23px 41px 0;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;
    right: -20px;
    width: 100%;
    height: 3px;
    background-color: @color-accent;

    @media (min-width: @width-tablet) {
      width: 200%;
      top: 74px;
      right: -65px;
    }

    @media (min-width: @width-desktop) {
      top: 76px;
      right: -40px;
    }
  }

  @media (min-width: @width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px -40px;
    padding: 52px 40px 34px;
  }

  @media (min-width: @width-desktop) {
    margin: 0 0 0 -40px;
    padding: 54px 42px 58px 38px;
  }
}

.additional__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 17px;

  @media (min-width: @width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 28px;
  }
}

.additional__item {
  display: flex;
  margin-bottom: 10px;

  @media (min-width: @width-tablet) {
    width: 45.5%;
    margin-bottom: 20px;
  }

  @media (min-width: @width-desktop) {
    width: 245px;
    margin-bottom: 20px;
  }
}

.additional__name {
  .input-header();
  position: relative;
  text-transform: uppercase;
  padding-left: 46px;
  cursor: pointer;

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    display: block;
    width: 28px;
    height: 29px;
    border: 1px solid @color-border;

    @media (min-width: @width-tablet) {
      top: -2px;
      width: 38px;
      height: 39px;
    }
  }

  @media (min-width: @width-tablet) {
    padding: 9px 0 9px 58px;
  }
}

.additional__check {
  .entry-field();

  &:checked + .additional__name::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  &:focus ~ .additional__name::before {
    border-color: #bababa;
  }
}
