.comment__text {
  width: 280px;
  height: 150px;
  font-family: "OswaldRegular", sans-serif;
  font-size: 16px;
  color: @text-color;
  text-transform: uppercase;
  margin-bottom: 10px;
  resize: none;
}
