.contacts__blocks {
  .list-reset();

  @media (min-width: @width-desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.contacts__block {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 13px;

  @media (min-width: @width-tablet) {
    margin-bottom: 20px;
  }

  &--email {
    @media (min-width: @width-desktop) {
      width: 46.72%;
    }
  }

  &--tel {
    @media (min-width: @width-desktop) {
      width: 46.8%;
    }
  }
}

.contacts__title {
  .form-subtitle();
  position: relative;
  margin: 0 -20px 0 0;
  padding-top: 28px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: @color-accent;

    @media (min-width: @width-tablet) {
      top: 49px;
    }

    @media (min-width: @width-desktop) {
      top: 43px;
      left: 40px;
    }
  }

  @media (min-width: @width-tablet) {
    font-size: @fz-big;
    line-height: 36px;
    margin: 0 -67px 0 -70px;
    padding-bottom: 75px;
    padding-left: 30px;
  }

  @media (min-width: @width-desktop) {
    margin: 0 -40px;
    padding-top: 21px;
    padding-bottom: 76px;
  }
}

.contacts__title-line {
  width: 200px;
  background-color: @color-lightest;
  position: relative;
  margin: 0;
  padding: 0 1px 0 0;

  @media (min-width: @width-tablet) {
    width: 520px;
    padding: 0 34px 0 8px;
  }
}

.contacts__label {
  .input-header();
  order: 1;
  padding-right: 10px;

  @media (min-width: @width-tablet) {
    padding-right: 20px;
  }
}

.contacts__textfield {
  .entry-field();
  order: 2;
  flex-grow: 1;
  padding: 13px 15px 12px;

  &:hover {
    border-color: #bcbcbc;
  }

  &:focus:invalid {
    border: solid 2px #ff8282;
  }

  &:required:valid {
    border: solid 1px #cdcdcd;
  }

  &:focus ~ .contacts__icon {
    fill: @color-accent;
  }

  &:focus:invalid ~ .contacts__icon {
    fill: #ff8282;
  }

  @media (min-width: @width-tablet) {
    padding: 13px 19px 13px;
  }

  @media (min-width: @width-desktop) {
    padding: 13px 19px 14px;
  }
}

.contacts__icon {
  position: absolute;

  &:active {
    fill: green;
  }

  &:invalid {
    fill: red;
  }

  &--email {
    top: 17px;
    right: 16px;

    @media (min-width: @width-tablet) {
      top: 20px;
      right: 19px;
    }
  }

  &--tel {
    top: 14px;
    right: 13px;

    @media (min-width: @width-tablet) {
      top: 17px;
      right: 15px;
    }

    @media (min-width: @width-desktop) {
      right: 18px;
    }
  }
}
