.form__title {
  font-size: @subtitle-size;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 15px;
  border-bottom: none;
}

.form__text {
  text-transform: uppercase;
  font-size: @text-size;
  width: 230px;
  line-height: 18px;
  padding-bottom: 20px;
}

.form__legend {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: @text-size;
  text-align: center;
}
