.personal__block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 14px;

  @media (min-width: @width-tablet) {
    .form-t-d();
    margin-bottom: 20px;
  }
}

.personal__label {
  .input-header();
  order: 1;
  color: @color-label;
  padding-right: 15px;

  @media (min-width: @width-tablet) {
    padding-right: 16px;
  }
}

.personal__textfield {
  height: 45px;
  .entry-field();
  order: 2;
  flex-grow: 1;
  padding: 15px;

  &:hover {
    border-color: #bcbcbc;
  }

  &:active {
    border: solid 2px #444444;
  }

  &:focus:invalid {
    border: solid 2px #ff8282;
  }

  &:required:valid {
    border: solid 1px #cdcdcd;
  }

  @media (min-width: @width-tablet) {
    height: 52px;
    padding: 19px;
  }
}
