body {
  min-width: 320px;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: @color-title;

  @media (min-width: @tablet-width) {
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: @color-title;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
