@main-font: "OswaldRegular", "Arial", sans-serif;
@second-font: "Arial", sans-serif;
@color-accent: #68b738;
@color-text: #444444;
@color-title: #111111;
@color-label: #222222;
@color-border: #ededed;
@color-bg: #f2f2f2;
@fz-big: 36px;
@fz-small: 14px;
